body{
  background-image: url("https://cdn.marte.com/uploads/2015/10/nike-womens-cleat-pack-2016-cover.jpg");
  background-size: cover;
}
.main{
  background-image: linear-gradient(to right, #4f4d4f, #3b3b3d, #292a2b, #191a1a, #030404);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;

  .card{
    margin: 20px;
    box-shadow: 5px 2px 3px 5px;

    .card-action{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

    }
  }
}

.show{
  display: flex;
  justify-content: center;
}
.error{
  height: 100vh;
  .error_message{
    width: 80%;
    height: 150px;
  }
}
